.standard-text {
    font-family: roboto;
}

.file-upload {
    margin-left: 15vw;
    margin-right: 3vw;
}

.file-upload-button {
    margin-right: 15vw;
}

#hero .edyou-logo {
    width: 250px;
    height: 250px;
}

#hero .hero-logo img {
    max-width: 100%;
}

#hero .hero-container {
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#hero h1 {
    margin: 30px 0 30px 0;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
}

.description {
    color: white;
}

#hero h2 {
    color: #ccc;
    margin-bottom: 50px;
    margin-left: 12vw;
    margin-right: 12vw;
}

#hero h2 span {
    color: #fff;
    transition: 0.3s;
    border-bottom: 2px solid #03C4EB;
}