{% extends "pdf_annotator/header.html" %}

{% block content %}
    <div class="row">
        <h3>
            Trying to read a textbook but the information is just too boring?<br>
            Need a way to quickly find a more interesting presentation of the subject?<br>
            edYou is the answer!
        </h3>
        <h5>
            Just upload a pdf of any academic textbook or paper (that you have legal access to of course)
            and edYou will provide you with an annotated copy of the pdf with YouTube links to 
            videos relevant to the text.
        </h5>
    </div>
    <div style="padding-top: 20px;"></div>
    <div class="row">
        <form action="/api/upload_pdf" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <input type="file" class="form-control form-control-lg" id="id_pdf_file" name="pdf_file" accept="application/pdf"/>
                    </div>
                    <div class="col d-flex align-items-center">
                        <button type="submit" class="btn btn-success btn-lg">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}